# LIST
## LIST METHOD
### DOC:List is a collection of multiple items stored in a variable

In [2]:
#Method1: .append()
#Use    : It is use add items at the end of a list.

#Example:
mylist = ["orange","banana", 45, True, "Apples"]
mylist .append("pineapples")
print(mylist)

['orange', 'banana', 45, True, 'Apples', 'pineapples']

In [3]:
#Method2: .insert()
#Use    : It is use to add an element at a given position[index]

#Example:
mylist .insert(2, "kiwi")
print(mylist)

['orange', 'banana', 'kiwi', 45, True, 'Apples', 'pineapples']

In [4]:
#Method3: del keyword
#Use    : It is used to remove a specified index or list completely if index is unspecified

#Example:
mylist = ["orange", "banana", "kiwi", 45, True, "Apple", "pineapples"]
del mylist[2]

In [19]:
#Method4: pop()
#Use    : It removes specified index or the last element if index is unspecified

#Example:

mylist.pop(2)

'pineapples'

In [16]:
#Method5: copy()
#Use    : This returns a copy of the specified list

#Examples:
fruits = ["blueberry", "strawberry", "kiwi", "apples", "lemon"]
fruits_2 = fruits.copy()
fruits_2

['blueberry', 'strawberry', 'kiwi', 'apples', 'lemon']

In [9]:
names = ["John", "Stone", "Malta","Salman", "Pepple"]
names

['John', 'Stone', 'Malta', 'Salman', 'Pepple']

In [15]:
name_2 = names.copy()
print(name_2)

['John', 'Stone', 'Malta', 'Salman', 'Pepple']

In [20]:
#Method6: count()
#Use   :  This returns the number of elements with specified value

#Examples:
fruits_2.count("blueberry")

1

In [21]:
Ages = [2,24,8,8,3,8,10,6,8]
Ages.count(8)

4

In [25]:
#Method7: clear()
#Use    : This method removes all elements from a list.

#Examples:
Ages.clear()
Ages

[]

In [24]:
Numbers = [1,2,3,4,1,5,6,1,7,]
Numbers.clear()
print(Numbers)

[]

In [29]:
#Method8: reverse()
#Use    : This reverses the sorting order of the elements

#Examples:
name_2.reverse()
name_2

['Pepple', 'Salman', 'Malta', 'Stone', 'John']

In [30]:
#Method9: sort()
#Use    : This arranges the items in a list alphabetical,ascending or descending order.

#Examples:
name_2.sort()
name_2

['John', 'Malta', 'Pepple', 'Salman', 'Stone']

In [32]:
#Method10: extend()
#Use     : This adds specified list elements to the end of current list.

#Examples:
name_2.extend(fruits)
print(name_2)

['John', 'Malta', 'Pepple', 'Salman', 'Stone', 'blueberry', 'strawberry', 'kiwi', 'apples', 'lemon']

# STRINGS
## STRING METHODS
### DOC:Strings as data types are characters or texts.

In [35]:
#Method1: index method
#Use    : It returns the position of a specified character or value.
        

#Examples:
x = ("Vintage")
y = x.index("t")
print(y)

3

In [37]:
#Example2:
print(x[0:5])

Vinta

In [42]:
#Method2: capitalize()
#Use    : converts the first character to upper case.

#Example:
str = ("hi! my name is Hamdalah")
txt = str.capitalize()
print(txt)

Hi! my name is hamdalah

In [46]:
#Method3: upper()
#Use    :converts all the characters of a string into uppercase.

#Example:
str = "hi! my name is Hamdalah"
txt = str.upper()
print(txt)

HI! MY NAME IS HAMDALAH

In [47]:
#Method4: lower()
#Use   : converts all the characters of a string into lowercase.

#Examples:
txt = str.lower()
print(txt)

hi! my name is hamdalah

In [1]:
#Method5: casefold()
#Use    : converts strings to lower.It is stronger than .lower() method.

#Examples:
str_2 = "HI!MY NAME IS VINTAGE."
txt = str_2.casefold()
txt

'hi!my name is vintage.'

In [2]:
#Method6: center()
#Use    : This will center align the string,using a specified character as the fill character

#Example: Using the letter 'O' as the padding character

txt = "oranges"
x = txt.center(20, 'O')
print(x)

OOOOOOorangesOOOOOOO

In [5]:
#Method7:  isalnum()
#Use   :  This method returns True if all the characters are alphanumeric,ie (a-z) and (0-9)

#Examples:

str_3 = "Class80"
str_4 = "007James Bond"
x = str_3.isalnum()
y = str_4.isalnum()
print(x)
print(y)

True
False

In [7]:
#Method6: encode()
#Use: It returns with an encoded version of the string,using the specified encoding.If no encoding is specified,UTF-8 will be used.

#Examples:
txt = "I am learning Datascience"
x = txt.encode()
print(x)

b'I am learning Datascience'

In [9]:
#Method7: isdigit()
#Use    :  returns true if all characters in the text are digits.

#Example:Checknif all characters are digits

str_5 = "2003947"
y = str_5.isdigit()
print(y)

True

In [13]:
#Method8: isidentifier()
#Doc:   A string is considered a valid identifier if it only contains alphanumerical letters(a-z) and (0_9) or underscores(_).
#A valid identifier cannot start with a number or contain any space.

#Examples:
txt = "Mountains"
x = txt.isidentifier()
a = "Mylist"
b = "007James"
c = "Aishah Muhammad"

print(x)
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())

True
True
False
False

In [ ]:
#Method9:

# NUMBERS
## TYPES OF NUMBERS : Integers, Floats and Complex

### Methods or operations in numbers includes :

In [1]:
# Addition : + sign

7 + 8

15

In [2]:
# Subtraction : minus sign (-)

10  - 5

5

In [3]:
# Multiplication : asteric sign (*)

10 * 5

50

In [4]:
# Division : forward slash (/)

10 / 5

2.0

In [5]:
# floor division : double forward slash (//)
# This gives the whole number excluding the decimal of the result.

# Example:

8 // 3

2

In [3]:
# Modular divison : %
#Use : This gives the remainder or decimal part of a division

# Example :

10 % 3

1

In [4]:
# Method 7: power (**)
# Use : This expresses the indices or power of a number

# Example : 

9 ** 2

81

In [5]:
# Method 8: print( )
# This displays the result of an operation

# Example:

print(6*5+10)

40

In [6]:
# Method 9: type() function
# Use: This returns the argument or the type of variable

# Example:

type(0.9)

float

# TUPLES

In [9]:
# Method 1 : Creating a tuple (),we use curve bracket to create tuples

# Use : This is use to create an array of items that are not changeable[immutable]

# Example :

tup = (46,45,48,47,44)

In [8]:
# Method 2 : indexing []

tup[3]

47

In [11]:
#Method 4: len()
#Use : This retutns the number of items in a tuple
# Example :

len(tup)

5